.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    color: #000;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    opacity: 1;
    transition: opacity .3s linear;
  }
  
  .feynman__link:hover {
    opacity: .5;
  }